<div class="header-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
        <div class="container-fluid px-0">            
          <a class="navbar-brand ps-2"><img src="assets/images/vb_logo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end h-100" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 m-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/about']">About</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/contact']">Contact</a>
              </li>              
            </ul>
          </div>
        </div>
      </nav> 
</div>