<div class="coming-soon">
    <div class="coming-soon-body text-center">
        <div class="coming-soon-title">Coming Soon</div>
        <div class="coming-soon-desc mt-3">Hello friends! We are currently building our New Architecture Website. Add your email address below to stay up-to-date with announcements and our launch proposals.</div>
        <div class="mt-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email Address">
                <div class="input-group-append">
                  <span class="input-group-text">Go</span>
                </div>
              </div>              
        </div>
    </div>
</div>